aside article{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 50px;
    border: 1px solid black;
}

aside article img{
    width: 20%;
}
 .aside_img{
    display: flex;
    justify-content: flex-end;
 }

aside article p{
    display: inline-block;
    width: 400px;
}
.form {
    padding: 0 0 50px 26%;
}
.d-block{
    position: relative;
    right: -132%;
  }
  .novedades{
    text-align: center;
  }