.button {
    background-color: #33115b;
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: auto;
    width: 100%;
  }

  .btn {
    margin: auto;
    width: 10%;
    padding: 0 0 100px 0;
  }

  .button i {
    font-size: 18px;
    padding: 0 10px;
    color: #ffffff;
  }