footer{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: cornflowerblue;
}

footer div iframe{
    padding: 0 0 0 150px;
}

footer div p{
    margin: auto;
    display: inline-block;
    width: 120px;
}

footer li{
    list-style: none;
}