*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: $principal;
}

header h1{
    text-align: center;
    color: white;
}



header img{
        width: 40px;
        padding: 3px;
}

header div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}