.main-article{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main div img{
    width: 250px;
  }
  
  .card-index{
      display: flex;
      justify-content: space-around;
  }
  
  .video{
      display: flex;
      justify-content: center;
      padding: 10px;
  }
