%sombra-grow{
    .sombra-grow-img {
        transform: translateZ(0);
        transition-duration: 0.3s;
        transition-property: transform;
    }
    
    .sombra-grow-img:hover,
    .sombra-grow-img:focus,
    .sombra-grow-img:active {
        transform: scale(1.1);
    }
    
    .sombra-grow {
      transform: translateZ(0);
      transition-duration: 0.5s;
      transition-property: transform;
    }
}

%d-block{
        position: relative;
        right: -132%;
}

%media-screen{
    @media(max-width: 500px) {

        header {
            height: 150px;
        }        
        header div img {
            width: 50px;
            padding-left: 30px;
            }
        
        main div{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .d-block {
          width: 40%;
        }
      
        footer{
          display: flex;
          flex-direction: column;
        }
      
        .iframe{
          width: 100%;
        }
      
        aside article img{
          width: 200px;
        }
        .d-block{
          position: relative;
          left: -50px;
        }
      
        .img-carousel{
          position: relative;
          left: -10px;
          width: 40%;
        }
      
        .img-card{
          position: relative;
          left: -19%;
        }
      
        .column{
          position: relative;
          left: -90px;
        }
      
        .coment{
          position: relative;
          left: -90px;
        }
      
        .btn{
          position: relative;
          right: -36%;
        }
      
        .button{
          width: 120px;
          display: flex;
          justify-content: center;
        }
        
       }
}
